<nav class="topmenu">
  <div class="row">
    <div class="topmenu-container">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="voorbereiding.html">Voorbereiding</a></li>
        <li><a href="dag1.html">Dagboek</a></li>
        <li><a href="paklijst.html">Paklijst</a></li>
        <li><a href="route.html">Route</a></li>
        <li><a href="links.html">Websites</a></li>
    </ul>
    </div>    
  </div>
</nav>