---
url: 'dag1.html'
title: 'De Groene Weg'
menu-id: '2'
---
<div class="row">
  <div class="small-12 small-centered">
    <h1 class="site-title">{{index.header.title}}</h1>  
  </div>      
</div>

<div class="row">
  <div class="small-12 columns">

    <article>

        <header class="page-title">Vaals - Monschau (64 km)</header>

        <section>      
            <header class="paragraph-title">afscheid</header>
            <div class="row">
                <div class="small-9 columns">
                    <p>
                      Rond kwart over acht vertrok het hele gezin, met de fietsen achter op de auto, vanuit Helmond naar Vaals. 
                      Daar woont mijn achternicht Judith en vanuit daar zouden we vertrekken. 
                      Ze had voor een uitgebreid ontbijt gezorgd zodat we de eerste dag in ieder geval genoeg energie zouden hebben om te fietsen.
                      Om 10 uur had ik de tassen en tent op de fietsen geladen en vertrokken we. Helaas geen zon, het was bewolkt maar regende niet, een graad of 17. 
                      Bram en Hans gingen op de scooter mee tot het startpunt van de Vennbahn in Aken.
                      De Vennbahn start bij een klein stationnetje 'Rote Erde' in Aken. Vanuit Vaals is het 7 km. 
                      Je fietst via de Maastrichterlaan, Vaalserstrasse, en Boxgraben langs het Hauptbahnhoff. 
                      Dan de Zollernstrasse uitrijden en je staat voor station 'Rote Erde'.
                    </p>
                 </div>          
                 <div class="small-3 columns">
                  <aside>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>   
                      <li><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>                        
                      <li><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>  
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>                         
                    </ul>                      
                  </aside>
                </div>
             </div>   
        </section>   

        <section>
          <header class="paragraph-title">start van de vennbahn</header>
            <div class="row">
             <div class="small-9 columns">    
               <p>
                  We namen afscheid van Hans en Bram. Fietsten onder het spoortunneltje door en <strong>direct</strong> daarna rechtsaf en even omhoog fietsen.
                  Een mooi geasfalteerd fietspad voerde ons binnen enkele minuten Aken uit. 
                  We kwamen over een oude spoorbrug en zaten binnen enkele minuten buien de bebouwde kom, midden in de natuur.
                  In enkele oude stations zijn restaurants gemaakt. Verder zijn er veel rustplaatsen gemaakt met huisjes in de vorm van een oude treinwagon en informatieborden over de route.
                  Af en toe kom je door een dorpje en moet je even opletten waar de bordjes staan. 
                  De oude huisjes vanwaaruit de wissels werden bediend staan er nog steeds en ook de oude seinen. 
                  Op sommige plaatsen staan zelfs de oude locomotieven en wagons nog op de rails.
                  's Middags zei Pim tegen me dat zij de indruk had dat we de hele dag al geleidelijk omhoog aan het fietsen waren.
                  De fietsers die we tegen kwamen en de andere kant op reden tapte net wat makkelijker.
                  Tijdens een stop pakte ik het hoogte profiel van de Vennbahn erbij en inderdaad, de eerste 37 km lopen gestaag omhoog van 150 naar 550 meter.
                  Goed om langzaam te wennen aan het klimmen over enkel dagen in Luxemburg en Frankrijk.
                  Het weer was nog steeds hetzelfde als 's morgens en zelfs af en toe wat mistig.      
                </p>
              </div>          
              <div class="small-3 columns">
                <aside> 
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>  
                      <li class="clearing-featured-img"><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>                         
                    </ul> 
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>                         
                      <li><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>   
                      <li><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>                         
                    </ul>       
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>                         
                      <li><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>                         
                    </ul>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>                         
                      <li><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>                         
                    </ul>                     
                  </aside>
              </div>  
            </div>    
        </section>

        <section>
           <header class="paragraph-title">overnachting in monschau</header>
              <div class="row">
                <div class="small-9 columns">                
                  <p>
                  Zo rond drie uur namen we op de Vennbahn de afslag Monschau. We kwamen langs enkele huizen en moesten vervolgens afdalen over een hobbelig zandpad met grote keien.
                  Zo kwamen we beneden in Monschau uit. Nu nog camping Perlenbach zoeken. 
                  We fietsen een stukje Monschau in maar toen herinnerde ik me dat de camping net ten zuiden van het plaatsje ligt aan een wat grotere weg (met nummer 258).
                  We draaiden om en fietsen Monschau weer uit richting het zuiden. Na een paar minuten zagen we al de bordjes met 'Camping' en rond half vier stonden we voor de receptie van Camping Perlenau.
                  We betaalde 15 euro, bestelde brood voor de volgende ochtend en gingen onze tent op het tentveld opzetten. Dwars door de camping stroomt het riviertje de 'Perlenbach'.
                  Toen de tent stond zijn we even bij het riviertje gaan zitten op een vlonder. Het begon wat te motregenen en zijn toen in de tent wat gaan lezen. Pim in 'Het leven van een loser' en ik een boek op de e-reader. 
                  Later zou nog blijken dat het handig is om per persoon een e-reader bij te hebben. 
                  Vanwege de regen besloot ik om in het restaurant op de camping te gaan eten en niet zelf te koken ook al wilde Pim dat graag.
                  Voor het eten zijn we gaan douchen en daarna naar het restaurant op de camping gelopen. 
                  We bestelde beide snitzel met jagersaus en friet, duits biertje erbij, Pim cola, samen voor 20 euro. 
                  's Avonds speelde het Nederlands elftal maar omdat we toch al door ware naar de volgende rond hebben we de de wedstrijd niet gekeken. 
                  We wilden niet te laat naar bed om de volgende dag weer fit te zijn.
                  Terug in de tent om half negen viel Pim vrijwel direct in slaap, ik een uurtje later. 's Nachts hoorde ik het af en toe regenen op de tent.
                  </p>
              </div>          
              <div class="small-3 columns">
                <aside>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>                         
                      <li><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li> 
                      <li><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>                        
                      <li class="clearing-featured-img"><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>
                    </ul> 
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>                         
                      <li><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li> 
                      <li><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>                         
                      <li><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>
                    </ul>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>                         
                      <li><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li> 
                      <li><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>                         
                      <li><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>
                    </ul> 
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>                         
                      <li><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li> 
                      <li><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>                     
                      <li><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>
                    </ul>   
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080703s.jpg"><img src="images/P1080703s.jpg" data-caption="Afscheid in Vaals"></a></li>
                      <li><a class="th" href="images/P1080708s.jpg"><img src="images/P1080708s.jpg" data-caption="Afscheid in Vaals"></a></li>                         
                      <li><a class="th" href="images/P1080709s.jpg"><img src="images/P1080709s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080711s.jpg"><img src="images/P1080711s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080714s.jpg"><img src="images/P1080714s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080715s.jpg"><img src="images/P1080715s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080717s.jpg"><img src="images/P1080717s.jpg" data-caption="Vennbahn"></a></li> 
                      <li><a class="th" href="images/P1080718s.jpg"><img src="images/P1080718s.jpg" data-caption="Vennbahn"></a></li>                         
                      <li><a class="th" href="images/P1080719s.jpg"><img src="images/P1080719s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080720s.jpg"><img src="images/P1080720s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080722s.jpg"><img src="images/P1080722s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080724s.jpg"><img src="images/P1080724s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080725s.jpg"><img src="images/P1080725s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080727s.jpg"><img src="images/P1080727s.jpg" data-caption="Vennbahn"></a></li>
                    </ul>                
                </aside>
              </div>  
            </div>                    
        </section>

        <footer>
            <div class="row">
                <div class="small-9 columns clearfix page-nagivgation">
                    <a href="voorbereiding.html" class="left" data-tooltip aria-haspopup="true" class="has-tip" title="Voorbereiding"><img src="images/arrowleft.svg"/></a>
                    <a href="dag2.html" class="right" data-tooltip aria-haspopup="true" class="has-tip" title="Dag 2"><img src="images/arrowright.svg"/></a>
                </div>
            </div>
        </footer>  

    </article>

  </div>
</div>    