---
url: 'dag2.html'
title: 'KlimPim - De Groene Weg naar de middellandse Zee'
menu-id: '2'
---
<div class="row">
  <div class="small-12 small-centered">
    <h1 class="site-title">{{index.header.title}}</h1>  
  </div>      
</div>   

<div class="row">
  <div class="small-12">

    <article>
      <header class="page-title">Monschau - Burg-Reuland (57 km)</header>

        <section>
          <header class="paragraph-title">Vertrek met regen</header>
            <div class="row">
              <div class="small-9 columns">                
                <p>
                Zondag ochtend 13 juli. Om acht uur ging de wekker. Pim sliep nog. Het regende. Ik maakte Pim wakker en we kleede ons aan. 
                Ik haalde de broodjes op bij de receptie.
                Toen ik daarvan terugkwam regende het al bijna niet meer. We aten buiten. Tijdens het inpakken begon het weer harder te regenen. 
                We trokken onze plastic regenjasjes aan en verlieten via het steile wegje de camping. 
                Een stukje verder naar het zuiden en dan rechtsaf de 399 op wat klimmen naar Kalterherberg. Hier konden we de Vennbahn weer op.
                We kochten we bij de bakker wat lekkere broodjes voor de lunch. Het was inmiddels droog en het weer begon wat op te klaren.
                </p>
              </div>          
              <div class="small-3 columns">
                <aside>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul> 
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>       
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li class="clearing-featured-img"><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>                 
                </aside>
              </div>  
            </div>  
        </section>

        <section>
          <header class="paragraph-title">De Vennbahn</header>
            <div class="row">
              <div class="small-9 columns">                
                <p>
                  Het stuk Vennbahn wat we vandaag fietste was weer erg mooi. 's Middags hadden we wat meer gravel en er stonden nar wat plassen regenwater. 
                  Onze fietsen werden er flink vies van. Onderweg zijn we 1 keer verkeerd gefietst. In het begin staat op de wegwijzers Vennbahn. 
                  Later, in het zuiderlijk deel van de Belgische ardennen, veranderd dat in 'Ligne 47'. Soms loopt een ander fietspad, 'Ligne 46' over het zelfde traject.
                  Na St. Vith ging de Vennbahn 'Ligne 47' haaks rechtsaf, 'Ligne 46' rechtdoor. We zagen deze afsleg over hethoofd en fietsten rechtdoor. 
                  Na een paar kilometer misten we de bordjes en zag het fietspad er niet meer uit alsof we vroeger een oude spoorlijn had gelopen. 
                  We kwamen onder een snelweg door, fietsten over een smal paadje dat midden door een weiland slingerde, etc.
                  We vertrouwden en niet en vroegen de weg aan een ouder echtpaar dat net stopte met de auto. Bleek dat we een stukje terug moesten fietsen.
                  Toen zagen we dat we de afslag gemist hadden. Daar ging het trouwens steil naar beneden en direct weer steil omhoog.
                  We kwamen langs de resten van een plaats waar men vroeger de locomotief kon draaien. 
                  Er lag geen draaischijf meer met rails maar verder was het wel keurig onderhouden en stond er een informatiebord met uitleg.
                  Het eindpunt voor vandaag was de camping in Burg-Reuland onder St. Vith. 
                  Toen we Burg-Reuland naderde vroeg ik aan een wandelaar of hij wist waar camping Hohenbusch ligt. Bleek dat dat een flink stuk van de Vennbahn af was. 
                  Beter hadden we in St. Vith van de Vennbahn af kunnen gaan en de N62 kunnen nemen richting zuid-westen of de camping in St. Vith zelf kunnen nemen die direct aan de route ligt (wel veel sta-caravans maar ook een zwembad). 
                  Nu moesten we zo'n 8 km fietsen naar de camping.
                  Nu moesten we eerst west-waards naar Oudler en dan weer terug righting St. Vith. Daarbij kwam dat dard ook nog eens een lange gestage klim in zat.
                  Gelukkig stond er in Oudler een echt Belgische frietkot waar we beide een frietje met en een cola hebben zitten eten. 
                  Tijdens de klim naar de camping begon het te regenen.
                </p>
              </div>          
              <div class="small-3 columns">
                <aside>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li class="clearing-featured-img"><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>                     
                </aside>
              </div>  
            </div>  
        </section>

        <section>
          <header class="paragraph-title">Tweede nacht</header>
            <div class="row">
              <div class="small-9 columns">                
                <p>
                  Camping Hohenbusch heeft Nederlandse beheerders. Er is een luxe cafetaria op de camping en een zwembad met een jacuzzi. 
                  Ze hebben er een prachtig toilet gebouw. Van binnen lijkt het wel of je in een hotel loopt.     
                  Er zijn ook twee kampeerplaatsen speciaal voor fietsers / wandelaars, daarvan kregen wij er een. 
                  Bij deze plaatsen is een klein houten huisje met een bankje erin, erg makkelijk. 
                  De camping was wel de duurste van alle die we tijdens onze fietsvakantie hebben gehad nl. 19,50 euro. Daarbij kwamen nog de muntjes voor het douchen.
                  Bij het inchecken bestelden we meteen brood voor de volgende ochtend.          
                  Naast ons kwam een franse wandelaar staan die vanuit Bergen-op-Zoom op weg was naar midden Frankrijk. Per dag liep hij ongeveer 50 km.
                  We gingen de tent opzetten en het was inmiddels droog geworden. Pim ging nog even zwemmen. Ik dronk een plisje in de bar / cafetaria.
                  Daarna gingen we douchen, maakte we macaroni en aten aan het tafeltje in het houten huisje.
                </p>
              </div>          
              <div class="small-3 columns">
                <aside>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>
                    <ul class="clearing-thumbs clearing-feature" data-clearing>
                      <li><a class="th" href="images/P1080728s.jpg"><img src="images/P1080728s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080729s.jpg"><img src="images/P1080729s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080731s.jpg"><img src="images/P1080731s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080732s.jpg"><img src="images/P1080732s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080735s.jpg"><img src="images/P1080735s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080737s.jpg"><img src="images/P1080737s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080738s.jpg"><img src="images/P1080738s.jpg" data-caption="Vennbahn"></a></li>    
                      <li><a class="th" href="images/P1080739s.jpg"><img src="images/P1080739s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080740s.jpg"><img src="images/P1080740s.jpg" data-caption="Vennbahn"></a></li>
                      <li><a class="th" href="images/P1080741s.jpg"><img src="images/P1080741s.jpg" data-caption="Vennbahn"></a></li>
                      <li class="clearing-featured-img"><a class="th" href="images/P1080742s.jpg"><img src="images/P1080742s.jpg" data-caption="Vennbahn"></a></li>                        
                    </ul>  
                </aside>
              </div>  
            </div>  
        </section>

        <footer>
            <div class="row">
                <div class="small-9 columns clearfix page-nagivgation">
                    <a href="dag1.html" class="left" data-tooltip aria-haspopup="true" class="has-tip" title="Dag 1"><img src="images/arrowleft.svg"/></a>
                    <a href="dag3.html" class="right" data-tooltip aria-haspopup="true" class="has-tip" title="Dag 3"><img src="images/arrowright.svg"/></a>
                </div>
            </div>
        </footer>  

    </article>  

  </div>
</div>    