---
url: 'dag3.html'
title: 'De Groene Weg'
---
<div ng-controller='MainCtrl' class='rob'>

    <div class="row">
      <div class="small-12 small-centered">
        <h2 class="site-title">{{index.header.title}}</h2>  
      </div>      
    </div>   

    <div class="row">
      <div class="small-12">
          
        <article>
          <header class="page-title">Burg-Reuland - Wiltz (46 km)</header>

            <section>
              <header class="paragraph-title">Einde van de Vennbahn</header>
                <div class="row">
                    <div class="small-9 columns">                
                          <p>
                          Maandag 14 juli. 's Morgens haalde ik de broodjes op in het winkeltje en vroeg of ik misschien ook een pak melk kon kopen. 
                          Het winkeltje was namelijk alleen voor het afhalen van brood.
                          Gelukkig haalde haalde de juffrouw een pak uit de keuken van het restaurant.
                          We ontbijten op ons gemak en lieten de tent wat drogen.
                          Daarna daalden we het eerste stuk weer af naar Oudler om vervolgens met een steil klimmetje weer op de Vennbahn terug te keren.
                          De volgende kilometers fietsten we weer over een onverhard pad maar in Luxemburg werd het weer asfalt.
                          Niet ver na de Luxemburgse grens kwmen we bij een bord waarop stond dat de Vennbahn verderop verperd was.
                          Daarnaast stond een bord met uitleg over de omleiding. We moesten linksaf en direct een paar honderd meter erg steil klimmen. 
                          Het begon te regenen en boven trokken we onze regenjasjes weer aan. We volgden de bordjes omleiding tot we weer op de 
                          Vennbahn zaten omdat we de bekende bordjes weer zagen. Het was inmiddels al weer droog en tevens was dat ook het laatste buitje dat we
                          tijdens deze vakantie zouden krijgen.
                          Nog een paar kilometer trappen en we kwamen bij een mooi uitzichtspunt boven op een heuvel. 
                          We keken op een dropje dat inb het dal onder ons lag met een groot treinstation. Troisvierges. Eindpunt van de Vennbahn.
                          Even rusten, genieten van het uitzicht, foto nemen en dan nog een laatste steile afdaling tot bij het station.
                          Het eerste deel zat er op. Nu via Clervaux naar Wiltz fietsen waar we de Groene Weg konden gaan volgen.
                          </p>
                     </div>          
                     <div class="small-3 columns">
                      <aside>
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li class="clearing-featured-img"><a class="th" href="images/P1080743s.jpg"><img src="images/P1080743s.jpg" data-caption="Vennbahn"></a></li>
                          <li><a class="th" href="images/P1080744s.jpg"><img src="images/P1080744s.jpg" data-caption="Vennbahn"></a></li>    
                          <li><a class="th" href="images/P1080747s.jpg"><img src="images/P1080747s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080748s.jpg"><img src="images/P1080748s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080749s.jpg"><img src="images/P1080749s.jpg" data-caption="Groene weg"></a></li>                             
                        </ul>
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080743s.jpg"><img src="images/P1080743s.jpg" data-caption="Vennbahn"></a></li>
                          <li class="clearing-featured-img"><a class="th" href="images/P1080744s.jpg"><img src="images/P1080744s.jpg" data-caption="Vennbahn"></a></li>
                          <li><a class="th" href="images/P1080747s.jpg"><img src="images/P1080747s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080748s.jpg"><img src="images/P1080748s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080749s.jpg"><img src="images/P1080749s.jpg" data-caption="Groene weg"></a></li>                             
                        </ul>                          
                      </aside>
                    </div>
                 </div>                         
            </section>
            
            <section>
              <header class="paragraph-title">Van Vennbahn naar Groene Weg</header>
                <div class="row">
                    <div class="small-9 columns">                  
                      <p>
                          De route vanuit Troisvierges naar Wiltz had ik via Google maps zelf uitgezet en liep via Clervaux.
                          Ik had een uitgeprinte versie vaan de route beschrijving bij.
                          In Troisvierges zouden we Rue Massen moeten volgen langs de Woltz.
                          We konden echter niet vinden waar we het spoor konden oversteken. 
                          De enige mogelijkheid tunnneltje met een steile trap op het station.
                          met de bepakte fietsen was dat niet eenvoudig. Dus zochten we verder naar een andere mogelijkheid.
                          We fietsten nu over de Grand Rue. Het was zo rond lunchtijd. We zagen een stel andre fietsers net hun fiets neerzetten voor een restaurant.
                          Dat gingen wij dus ook doen. Het was een bakkerij annex restaurant / lunchroom. 
                          Toen we binnen zaten bestelden we beide een gebakken ei. Na ons kwam er nog een stel Nederlandse fietsers binnen die we onderweg al eerder hadden gezien.
                          Bij het verlaten van het restaurant via de bakerij kochten we nog wat broodjes voor onderweg. 
                          We fietsten verder over de Grand Rue en zagen toen een bordje 'Clervaux' rechtsaf.
                          Het was niet de weg die geplanned had maar we kwamen met een paar kilometers extra toch in Clervaux.
                          Clervaux binnen fietsend zagen we een parkeerplaats vanwaaruit je vanaf boven op het station keek.
                          We stopen even en zochten bordjes met 'Wiltz' er op. We zagen er een en die wees terug in de richting vanwaar we kwamen.
                          We fiesten terug en volgden de weg naar Wiltz. Dit was een wat drukere weg en klom zo'n drie a vier procent.
                          Na enkele kilometers kreeg ik het gevoel dat we niet goed zaten. We stopen en riepen naar een tegemoetkomende wielrennen.
                          Deze stopte en ik vroeg of we op de weg naar Wiltz zaten. De vrouw zei dat dat wel het geval was maar dat we beter anders konden fietsen.
                          Dit was ver om en te druk. We moesten terug naar Clervaux. Ik zei dat ik daar geen andere bordjes had gezien met Wiltz er op.
                          Ze wilde met ons mee fietsen om ons de weg te wijzen. Toen we in Clervaux terug waren bleek dit veel groter dan ik dacht.
                          Het centerum lag veel verder dan waar wij waren gestopt bij het station. Ze wees ons de weg naar Wiltz en we bedankten haar voor haar hulp. 
                          We fietsten langs de Klerve, erg mooi, rustig en slechts wat kleine klimmetjes.
                          In Drauffelt stond een bordje Wiltz rechtsaf.
                          We moesten meteen een heuvel op klimmen en na nog wat meer klimwerk kwamen we in Wiltz.                          
                          Het was inmiddel flink warm geworden, zeker een graad of 30.
                          In Wiltz vonden we vrijwel direct de camping. 
                          Het is een mooie schone camping. Naast de camping light een mooi gemeente zwembad, gratis voor camping gasten. Direct voor de camping is een Delhaize supermarkt, ook erg handig.
                          We zette het tentje op, deden boodschappen. Het was een uur of vijf en we gingen zwemmen. Na het zwemmen eten, lezen en slapen.
                          Morgen zou er een flinke klim volgen om Wiltz uit te komen en vervolgens klimmen tot een watertoren, dat kon ik me nog herrinneren van een vorige fietsvakantie.
                      </p>
                     </div>          
                     <div class="small-3 columns">
                      <aside>
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080743s.jpg"><img src="images/P1080743s.jpg" data-caption="Vennbahn"></a></li>
                          <li><a class="th" href="images/P1080744s.jpg"><img src="images/P1080744s.jpg" data-caption="Vennbahn"></a></li>                             
                          <li class="clearing-featured-img"><a class="th" href="images/P1080747s.jpg"><img src="images/P1080747s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080748s.jpg"><img src="images/P1080748s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080749s.jpg"><img src="images/P1080749s.jpg" data-caption="Groene weg"></a></li>                 
                        </ul>                           
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080743s.jpg"><img src="images/P1080743s.jpg" data-caption="Vennbahn"></a></li>
                          <li><a class="th" href="images/P1080744s.jpg"><img src="images/P1080744s.jpg" data-caption="Vennbahn"></a></li>                             
                          <li><a class="th" href="images/P1080747s.jpg"><img src="images/P1080747s.jpg" data-caption="Groene weg"></a></li>    
                          <li class="clearing-featured-img"><a class="th" href="images/P1080748s.jpg"><img src="images/P1080748s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080749s.jpg"><img src="images/P1080749s.jpg" data-caption="Groene weg"></a></li>                       
                        </ul> 
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080743s.jpg"><img src="images/P1080743s.jpg" data-caption="Vennbahn"></a></li>
                          <li><a class="th" href="images/P1080744s.jpg"><img src="images/P1080744s.jpg" data-caption="Vennbahn"></a></li>                             
                          <li><a class="th" href="images/P1080747s.jpg"><img src="images/P1080747s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080748s.jpg"><img src="images/P1080748s.jpg" data-caption="Groene weg"></a></li>
                          <li class="clearing-featured-img"><a class="th" href="images/P1080749s.jpg"><img src="images/P1080749s.jpg" data-caption="Groene weg"></a></li>                       
                        </ul>
                      </aside>
                    </div>
                 </div>                      
            </section>

            <footer>
                <div class="row">
                    <div class="small-9 columns clearfix page-nagivgation">
                    <a href="dag2.html" class="left" data-tooltip aria-haspopup="true" class="has-tip" title="Dag 2"><img src="images/arrowleft.svg"/></a>
                    <a href="dag4.html" class="right" data-tooltip aria-haspopup="true" class="has-tip" title="Dag 4"><img src="images/arrowright.svg"/></a>
                    </div>
                </div>
            </footer>
            
        </article>

      </div>
    </div>
    
</div>    