---
url: 'dag6.html'
title: 'De Groene Weg'
---
<div ng-controller='MainCtrl' class='rob'>

    <div class="row">
      <div class="small-12 small-centered">
        <h2 class="site-title">{{index.header.title}}</h2>  
      </div>      
    </div>   

    <div class="row">
      <div class="small-12">
          
        <article>
            <header class="page-title">Volstrof - Chateau Salins (80 km)</header>

            <section>      
                <header class="paragraph-title">...</header>
                <div class="row">
                    <div class="small-9 columns">
                        <p>
                            Donderdag 19 juli 2014. Alle fietsers vroeg op 7:00 en snel vertrekken (8:10) vanwege de voorspelde warmte. Veel korten steile klimmetjes.
                            Weer erg warm tussen 35 graden. Veel rusten. Drinken bij kraantje op kerkhof dat is tenminste kouder dan water in onze bidons.
                            Rusten in schaduw.
                            
                            Kiezen om te kijken naar hotel in Chat. Salins. ipv doorfietsen naar camping incl. steile klim. 80 km gefietst.
                            Oude hotel is onbewoond. Naast kerk ander hotel, erg vriendelijk fietsen naar binnen. eenvoudige kamer voor 40,-
                            Douche en wc op de gang.
                            
                            Bier dinken beneden. We krijgen huisgemaakte lasagne met sla en brood. Naast ons eet de eigenaar en zijn vrouw, sla en kwark. 's middags eten ze uitgebreid.
                            Hotel "Au bon Accueil" Euro 91,-
                            Kuilen in matras.
                        </p>
                     </div>          
                     <div class="small-3 columns">
                      <aside>
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li class="clearing-featured-img"><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>    
                        </ul>
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li class="clearing-featured-img"><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>                           
                        </ul>
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li class="clearing-featured-img"><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>                           
                        </ul> 
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li class="clearing-featured-img"><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>                           
                        </ul> 
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li class="clearing-featured-img"><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>                           
                        </ul> 
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li class="clearing-featured-img"><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>                           
                        </ul>
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li class="clearing-featured-img"><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>                           
                        </ul> 
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li class="clearing-featured-img"><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>                           
                        </ul> 
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li class="clearing-featured-img"><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>                           
                        </ul>
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li class="clearing-featured-img"><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>                           
                        </ul>
                        <ul class="clearing-thumbs clearing-feature" data-clearing>
                          <li><a class="th" href="images/P1080772s.jpg"><img src="images/P1080772s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080773s.jpg"><img src="images/P1080773s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080774s.jpg"><img src="images/P1080774s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080775s.jpg"><img src="images/P1080775s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080776s.jpg"><img src="images/P1080776s.jpg" data-caption="Groene weg"></a></li>                 
                          <li><a class="th" href="images/P1080777s.jpg"><img src="images/P1080777s.jpg" data-caption="Groene weg"></a></li>                             
                          <li><a class="th" href="images/P1080784s.jpg"><img src="images/P1080784s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080778s.jpg"><img src="images/P1080778s.jpg" data-caption="Groene weg"></a></li>    
                          <li><a class="th" href="images/P1080779s.jpg"><img src="images/P1080779s.jpg" data-caption="Groene weg"></a></li>
                          <li><a class="th" href="images/P1080780s.jpg"><img src="images/P1080780s.jpg" data-caption="Groene weg"></a></li>
                          <li class="clearing-featured-img"><a class="th" href="images/P1080781s.jpg"><img src="images/P1080781s.jpg" data-caption="Groene weg"></a></li>                           
                        </ul>                     
                      </aside>
                    </div>
                 </div>   
            </section>  
            
            <footer>
                <div class="row">
                    <div class="small-9 columns clearfix page-nagivgation">
                      <a href="dag5.html" class="left" data-tooltip aria-haspopup="true" class="has-tip" title="Dag 5"><img src="images/arrowleft.svg"/></a>
                      <a href="dag7.html" class="right" data-tooltip aria-haspopup="true" class="has-tip" title="Dag 7"><img src="images/arrowright.svg"/></a>
                    </div>
                </div>
            </footer>
            
        </article>

    </div>
  </div>

</div>    