---
url: 'index.html'
title: 'KlimPim - De Groene Weg naar de middellandse Zee'
menu-id: '0'
---

<div class="row">
  <div class="small-12 small-centered">
    <ul data-orbit data-options="slide_number:false; bullets:false;">
      <li>
        <img src="images/home1w.jpg" alt="Vennbahn" />
      </li>
      <li>
        <img src="images/home2w.jpg" alt="Vennbahn" />
      </li>
      <li>
        <img src="images/home3w.jpg" alt="Frankrijk bereikt" />
      </li>
    </ul>
  </div>
</div>

<div style="border-top: 5px solid #FAC637; box-shadow: 0px -8px 10px #aaa;">   
    <div class="row">
        <h1 class="site-title">{{index.header.title}}</h1>
    </div>    
</div>

<div class="row">
  <div class="small-6 columns">
      <article class="article shadow">
          <div class="title clearfix">
              <span class="left">Lees ons verhaal</span>
              <a class="right" href="dag1.html"><img src="images/circlearrowrightwhite255.svg" class="readnextimage"></a>
          </div>
          <p>
          Al enkele malen ben ik alleen, vanuit Nederland, naar Zuid Frankrijk gefietst.
          Toen ik enkele jaren geleden vertrok heb ik mijn zoon Pim beloofd dat, als
          hij zijn basisschool zou hebben afgerond, we samen naar Frankrijk zullen fietsen. 
          Dit jaar is het dan zo ver. Hij is nu twaalf jaar en samen vertrekken we in 
          juli 2014 op de fiets naar Frankrijk.
          </p>          
      </article>
  </div>
</div>
