---
url: 'links.html'
title: 'KlimPim - De Groene Weg naar de middellandse Zee'
menu-id: '5'
---
<div class="row">
  <div class="small-12 small-centered">
    <h1 class="site-title">{{index.header.title}}</h1>  
  </div>      
</div>   

<div class="row">
  <div class="small-12">

    <article>  

        <header class="page-title">Links</header>

        <section>
            <header class="paragraph-title">fietsroutes</header>
            <div class="row">
              <div class="small-9 columns">                
                <table>
                    <tr>
                        <td>De Groene Weg</td><td>Fietsroutes door Europa</td>
                    </tr>
                    <tr>
                        <td>Vennbahn</td><td>Officiele site van de Vennbahn</td>
                    </tr>                
                </table>
              </div>
            </div>
        </section>

        <section>
            <header class="paragraph-title">fietsverhalen</header>
            <div class="row">
              <div class="small-9 columns">                
                <table>
                    <tr>
                        <td>Site</td><td>Omschrijving</td>
                    </tr>
                </table>
              </div>
            </div>
        </section>


        <section>
            <header class="paragraph-title">materiaal</header>
            <div class="row">
              <div class="small-9 columns">                
                <table>
                    <tr>
                        <td>Site</td><td>Omschrijving</td>
                    </tr>
                </table>
              </div>
            </div>
        </section>

        <footer>
            <div class="row">
                <div class="small-9 columns clearfix page-nagivgation">
                    <a href="route.html" class="left"><img src="images/arrowleft.svg"/></a>
                </div>
            </div>
        </footer>

    </article>

  </div>      
</div>  