---
url: 'links.html'
title: 'KlimPim - De Groene Weg naar de middellandse Zee'
menu-id: '4'
---
<div class="row">
  <div class="small-12 small-centered">
    <h1 class="site-title">{{index.header.title}}</h1>  
  </div>      
</div>   

<div class="row">
  <div class="small-12 columns">

    <article>

        <header class="page-title">Tips voor fietsen met kinderen</header>

        <section>
          <header class="paragraph-title">Stop regelmatig</header>
            <div class="row">
                <div class="small-9 columns">                
                  <p>
                      ...
                  </p>
                 </div>          
                 <div class="small-3 columns">
                  <aside>
                    <a class="" href=""><img src="" data-caption=""></a>
                  </aside>
                </div>
             </div>   
        </section>   

        <section>
          <header class="paragraph-title">Ontspanning</header>
            <div class="row">
                <div class="small-9 columns">                
                  <p>
                    ...
                  </p>
                 </div>          
                 <div class="small-3 columns">
                  <aside>
                    <a class="" href=""><img src="" data-caption=""></a>
                  </aside>
                </div>
             </div>   
        </section>   

        <section>
          <header class="paragraph-title">Ben flexibel</header>
            <div class="row">
                <div class="small-9 columns">                
                  <p>
                    ...
                  </p>
                 </div>          
                 <div class="small-3 columns">
                  <aside>
                    <a class="" href=""><img src="" data-caption=""></a>
                  </aside>
                </div>
             </div>   
        </section>   

        <section>
          <header class="paragraph-title">Eten en drinken</header>
            <div class="row">
                <div class="small-9 columns">                
                  <p>
                      ...
                  </p>
                 </div>          
                 <div class="small-3 columns">
                  <aside>
                    <a class="" href=""><img src="" data-caption=""></a>
                  </aside>
                </div>
             </div>   
        </section>  

        <footer>
            <nav class='nav-footer'>
                <ul class='inline-list'>
                    <li class='nav-link-left'><a href=''></a></li>
                    <li class='nav-link-center'><a href='index.html'>Home</a></li>
                    <li class='nav-link-right'><a href=''></a></li>
                </ul>
            </nav>
        </footer> 

    </article>

  </div>
</div>